.LoginBack {
  background-image: url('images/Naturalist.png');
  width: 100%;
  height: 70%;
  background-size: cover;
  position: absolute;
  background-attachment: fixed;
}
.Layout {
  background-color: black;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}
.App-header {
  font-size: 60px;
  line-height: 68px;
  color: #FAFAFA;
  height: 90px;
  padding: 2%;
  font-family: inherit;
  color: #47e4bb;
  margin-bottom: 5%;
  margin-top: -1%;
  margin-left: 4%;
} 
.GoogLogText {
color: white;
display: inline;
font-size: 25px;
margin-left: 24%;
}
.GoogImg {
  display: inline;
  float: left;
  margin-left: 1.5%;
  margin-top: -3%;
  width: 30px;
}

.GoogLogButton,
.GoogLogButton1 {
  display: inline;
  float:right;
  width: 200px;
  background: white;
  border-radius: 4px;
  font-size: 18px;
  color: black;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.35);
  margin-top: 3%;
  padding-top: 1%;
  padding-bottom: .5%;
  line-height: 80%;;
}
.BackButton:hover, .GoogLogButton:hover,
.GoogLogButton1:hover {
box-shadow: 4px 4px 10px 2px white;
transform: scale(1.1);
}

.Text
 {
color: #FAFAFA;
font-size: 25px;
line-height: 45px;
width: 30%;
text-align: center;
margin: -2% 6% 4% 0%;
padding: 2%;
}
.Login {
  display: inline;
}
.NotebooksBody {
 height: 100%;
 background-color: black;
 background: cover;
 margin-top: 10%;
}
.CollectionText {
  color: #FAFAFA;
  font-size: 25px;
  float: top;
  margin: -3% 0% 3% 2%;
  font-family: inherit;
}
.Notebooks {
  margin: 1.5% 8% 10% 10%;
  float: left;
}
.BackButton {
  width: 100px;
  background: white;
  border-radius: 5px;
  margin: 0 0 5% 5%;
  color: black;
  font-weight: bold;
  background-color: #29A19C;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.35);
  margin-bottom: 4.4%;
}
.CollectionsBody {
  margin-top: 10%;
}
.Content {
  background: none;
  width: 100%;
}
body {
  background-color: black;
}
.Collections:hover {
transform: scale(1.1);
box-shadow: 4px 4px 15px 0px white;
}
.ColNotes {
  color: white;
  margin-top: 10%;
  float: left;
}
.notebookTitle{
  color: white;
  text-align: center;
}
.EnterButton{
  width: 80px;
  background: white;
  border-radius: 4px;
  font-size: 18px;
  color: black;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-left: 200px;
  margin-top: -80px;
  display: none;
}
.EnterButton:hover{
  box-shadow: 2px 4px 5px 1px white;
}
.row{
  padding: 5%;
  margin-top: -30%;
  margin-bottom: 10%;
  position: absolute;
  left: 25%;
}
.itemButtonUp{
background-color: darkorange;
height: 1.7em;
}
.itemButtonDel{
  background-color: red;
  height: 1.7em;
}
.AddButton:hover{
  box-shadow: 2px 4px 5px 1px white; 
}
.itemButtonDel:hover{
  box-shadow: 2px 4px 5px 1px white;
}
.AddButton{
  background-color: #10b344; 
}
.text-center{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -6%;
  flex-wrap: wrap;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 310px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 1%;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  font-size: 1em;
  line-height: .8em;  
  position: absolute;
  top: 0;
}
#Pic{
  width: 100%;
}
#Picture{
  height: 1.8em;
}
.Form{
  margin-right: 100px;
}
#added {
position: flex;
justify-content: flex-start;
align-content: flex-start; 
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .Logo {
    width:200px;
    margin-left: 8%;
    margin-top: 5%;
  }
  .LoginBack {
    background-image: none;
  }
  .Text {
    left: 35%;
    font-size: 19px;
    line-height: 140%;
    position: absolute;
    top: 35%;
  }
  .GoogLogButton {
    display: none;
  }
  .GoogLogButton1 {
    display: none;  
  }
  .EnterButton{
    width: 80px;
    background: #29A19C;
    border-radius: 4px;
    font-size: 18px;
    color: black;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: block;
    position: absolute;
    top: 35%;
    left: -17%;
    box-shadow: 2px 4px 5px 1px white;
  }  
  .GoogLogText {
    display: none;
  }
  .Notebooks {
    width: 100px;
    margin: 5% 25% 0 22%;
    position: relative;
    right: 3%;
  }
  .CollectionText {
    text-align: center;
    margin-top: 15%;
    position: relative;
    right: 4%;
    font-size: 17px;
  }
  .GoogImg {
    width: 15px;
  }
  .BackButton {
    position: absolute;
    top: 35%;
    left: 68%;
    font-size: 10px;
    width: 70px;
    box-shadow: 2px 4px 5px 1px white;
  }
  .Form {
    font-size: 11px;
    position: absolute;
    top: 300%;
    left: -150%;
  }
  #Picture {
    font-size: 10px;
    margin-bottom: 2%;
    
  }
  .text-center{
    position: absolute;
    top: 70%;
  }
}
  @media only screen and (min-width: 767px) and (max-width: 1199px) {
    .LoginBack {
      background-image: url('images/backpad.png');
      width: 100%;
      height: 70%;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }    
    .Text {
      margin-top: 5%;
    }
    .GoogLogButton {
      display: none;
    }
    .GoogLogButton1 {
      display: none;  
    }
    .EnterButton{
      width: 80px;
      background: #29A19C;
      border-radius: 4px;
      font-size: 18px;
      color: black;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
      text-align: center;
      display: block;
      position: absolute;
      top: 25%;
      left: 37%;
      box-shadow: 2px 4px 5px 1px white;
    }  
    .GoogLogText {
      display: none;
    }
    .text-center{
      position: absolute;
      top: 65%;
    }  
    .Form {
      position: absolute;
      top: 400%;
      left: -150%;
    }  
  .BackButton {
    position: absolute;
    top: 15%;
    box-shadow: 2px 4px 5px 1px white;
}
  }